html {
    scroll-behavior: smooth;
}

/* Light Theme (default) */
body.light-mode {
  background-color: #f3f4f6; /* light gray */
  color: #0f172a;
}

/* Dark Theme */
body.dark-mode {
  background-color: #030712; /* dark gray/black */
  color: #fff;
}

/* Smooth transition */
body {
  transition: background-color 0.3s, color 0.3s;
}

/* Scrollbar base */
::-webkit-scrollbar {
    width: 10px;
    background: #111827;
}

::-webkit-scrollbar-track {
    background: #111827;
    border-radius: 10px;
}

/* Scrollbar thumb with neon animation */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(0, 136, 255);
    background-size: 200% 200%;
}

.active-link {
    color: rgb(16, 127, 255);
    font-weight: bold;
}

.nav {
    border-bottom: 1px solid red;
    animation: solidBorderCycle 6s linear infinite;
    box-shadow: none;
}

@keyframes solidBorderCycle {
    0% {
        border-color: #00f;
    }

    16% {
        border-color: #0ff;
    }

    33% {
        border-color: #0f0;
    }

    50% {
        border-color: #ff0;
    }

    66% {
        border-color: #f90;
    }

    83% {
        border-color: #f0f;
    }

    100% {
        border-color: #f00;
    }
}

.animated-neon-border {
    border: 3px solid #00f;
    border-radius: 9999px;
    animation: solidNeonCycle 6s linear infinite;
    box-shadow: 0 0 20px #00f;
}

/* Rainbow neon loop */
@keyframes solidNeonCycle {
    0% {
        border-color: #00f;
        box-shadow: 0 0 20px #00f;
    }

    16% {
        border-color: #0ff;
        box-shadow: 0 0 20px #0ff;
    }

    33% {
        border-color: #0f0;
        box-shadow: 0 0 20px #0f0;
    }

    50% {
        border-color: #ff0;
        box-shadow: 0 0 20px #ff0;
    }

    66% {
        border-color: #f90;
        box-shadow: 0 0 20px #f90;
    }

    83% {
        border-color: #f0f;
        box-shadow: 0 0 20px #f0f;
    }

    100% {
        border-color: #f00;
        box-shadow: 0 0 20px #f00;
    }
}

/* for Projects */
.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 4px;
    height: 150%;
    background: linear-gradient(rgb(255, 0, 0), rgb(251, 255, 0), rgb(94, 255, 0), rgb(0, 242, 255), rgb(0, 21, 255), rgb(238, 0, 255));
    z-index: 0;
}

.hover-card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 8px 24px rgb(255, 251, 0, 0.3);
}

.hover-card {
    transition: all 0.3s ease;
    background-color: #1f2937;
    /* solid dark gray */
}